<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <li><b><%= farm.name %></b></li>
      <li><b>Email:</b> <%= farm.email %></li>
    </ul>
    <h2>Products</h2>
    <ul>
      <% for(let product of farm.products) { %>
      <li><%= product.name %></li>
      <% } %>
    </ul>
    <a href="/farms/<%= farm._id %>/products/new">Add Product</a>
    <a href="/farms">All Farms</a>
  </body>
</html>
